body {
	background-image: url(../images/monsterBack.jpg);
    z-index:-1;
    width:100%;
}
h1 {
	color: red;
}
.container {
	width: 80%;
	height: auto;
}
.picture {
	max-width: 100%;
	height: auto;
	float: left;

}
.name {
	width: 100%;
	float: left;
	color: white;
	padding: 5px;
}
.hp {
	float: left;
	width: 100%;
	color: white;
	padding: 5px;
}
.monbox {
	background-color: rgba(0, 0, 0, 0.46);
	height: 90%;
}
.chosenChar {
	width: 100%;
	float: left;
}
.rowhead {
	float: left;
	width: 100%;
	color: red;
}
#attack,
#reset {
	float: left;
	width: 100%;
	margin: 5px;
}
#fightStatus,
#gameStatus {
	width: 100%;
	float: left;
	color: red;
	font-size: 20px;
}
#lost {
	float: left;
	width: 100%;